.App {
  text-align: center;

}
.cardbox{
  display:flex;
  justify-content: space-between;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #ff7f50;
  border-radius: 10px;
  padding: 20px;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form__input {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.form__submit {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #ff7f50;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.form__submit:hover {
  background-color: #ff7f50;
  color: #fff;
}
